   
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
      float: left;
    }
    .col-md-3{
      background: #2C3E50;
      color: #FFFFFF;

    }
    .live_agent{
      height: 600px;
    }
    .live_header{
      background: #2C3E50;
      color: #FFFFFF;
      margin-top: 15px;
    }
    .live_agent .live_body{
      background: #615c5c;
      width: 100%;
      margin-top: 10px;
    }
    .live_header img{
      height: 40px;
      width: 40px;
      border-radius: 25px;
    }
    .live_header h6{
      margin-top: 7px;
    }
    .live_agent .status img{
      height: 10px;
      width: 10px;
    }
    .col-md-9{
      background: #F5F5F5;

    }
    .chat_window{
      height: 600px;
    }
    .chat_header{
      background: #F5F5F5;
      margin-top: 9px;
      margin-bottom: 9px;
    }
    .chat_header img{
      height: 60px;
      width: 60px;
      border-radius: 25px;
    }
    .chat_header h4{
      margin-top: 14px;
    }
    .chat_body{
      background: #E6EAEA;
      height: 474px;
      overflow: scroll;
    }
    .chat_body p{
      margin-top: 6px;
      overflow: hidden;
    }
    .receiver{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .receiver .message p{
      background: #435F7A;
      color: #FFFFFF;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 0px;
      padding: 0px;
    }
    .receiver img{
      height: 30px;
      width: 30px;
      border-radius: 25px;
    }
    .receiver .attachment img{
      height: 120px;
      width: 150px;
      float: left;
    }
    .sender p{
      text-align: right;
    }
    .sender{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .sender .attachment img{
      height: 120px;
      width: 150px;
      float: right;
    }
    .sender .col-md-8{
      float: right;
    }
    .sender .message p{
      background: #1db1b1;
      color: #000000;
      border-top-left-radius: 8px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 5px;
      float: right;
      padding: 3px;
    }
    .chat_form{
      margin-top: 5px;
      margin-bottom: 5px;
      background: #E6EAEA;
    }
    .chat_form .attachment_btn{
      margin-top: 10px;
    }
    .chat_form .chat_btn{
      margin-top: 5px;
    }